#mainMenuCanvas {
    position: fixed;
    border-color: #ffffff;
    border-radius: 5px;
    border-style: solid;
    top: 250px;
    left: 50px;
    z-index: 100;
}

#gameCanvas {
    position: fixed;
    display: none;
}

#bricks {
    position: fixed;
    top: 25%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(6, 50px);
    gap: 10px;
    margin: auto;
    justify-content: center;
}

#selection {
    position: absolute;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 100px;
    padding: 10px;
    right: 30px;
    border: white;
    border-style: solid;
    border-radius: 5px;
}

.selection-row {
    display: flex;
    flex-direction:row;
    width: 210px;
    gap: 10px;
}

.label {
    color: white;
    margin: auto;
    font-size: 1.5em;
    font-family: upheavtt;
}

.column-header {
    margin: auto;
    color: white;
    font-size: 1.7em;
    font-family: upheavtt;
}

.brick {
    position: relative;
    width: 100px;
    height: 50px;
    background-color: white;
    cursor: default;
    transition: 0.2s;
}

.brick:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.selected {
    border: 5px solid white !important;
    transition: 0.2s;
}

/* Got the periodic table css from  https://www.youtube.com/watch?v=qdwKLY45sh4&t=1146s*/
.level-select {
    font-family: "Poppins", sans-serif;
    margin: 100px;
}

.table {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(16, 100px);
    grid-template-rows: repeat(5, 100px);
    grid-gap: 10px;
    margin: auto;
    max-width: 1200px;
    justify-content: center;
}

.period {
    padding: 4px;
    position: relative;
    z-index: 1;
    cursor: default;
    transition: all 0.3s ease;
}

.period .period-inner {
    background: radial-gradient(circle at 10% 20%, #5a5c6a 0%, rgb(32, 45, 58) 81.3%);    padding: 10px 15px;
    width: calc(100% - 30px);
    height: calc(100% - 20px);
    transition: inherit;
}

.period .title {
    font: 700 26.1538px "Poppins", sans-serif;
    margin: 0.3em 0 0;
}

.period .desc {
    font: 500 12px "Poppins", sans-serif;
    margin-top: -0.2em; 
}

.period:hover {
    transform: scale(1.12);
    z-index: 10;
}

.period:hover .period-inner {
    background: transparent;
}

.period:hover .title, .period:hover .desc {
    -webkit-text-fill-color: #222;
}

.period:hover:after {
    top: 105%;
    opacity: 1;
}

.level {
    cursor: pointer;
}

.locked .title, .locked .desc { 
    background: transparent !important;
}

.period:hover .title, .period:hover .desc {
    -webkit-text-fill-color: transparent !important;
}

.one {
    background: linear-gradient(to bottom right, #1BFFFF 0%, #2E3192 100%);
}

.one .title, .one .desc {
    background: -webkit-linear-gradient(#1BFFFF, #2E3192);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.two {
    background: linear-gradient(to bottom right, #FBB03B 0%, #D4145A 100%);
}

.two .title, .two .desc {
    background: -webkit-linear-gradient(#FBB03B, #D4145A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.three {
    background: linear-gradient(to bottom right, #FCEE21  0%, #009245 100%);
}

.three .title, .three .desc {
    background: -webkit-linear-gradient(#FCEE21 , #009245);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.four {
    background: linear-gradient(to top left, #13547a 0%, #80d0c7 100%);
}

.four .title, .four .desc {
    background: -webkit-linear-gradient(#13547a, #80d0c7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.five {
    background: linear-gradient(to bottom right, #E4EfE9 0%, #93A5CF    100%);
}

.five .title, .five .desc {
    background: -webkit-linear-gradient(#E4EfE9, #93A5CF );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.empty-space-1 {
    grid-column: 2/span 9;
    grid-row: 1;
}

.empty-space-2 {
    grid-column: 4/span 3;
    grid-row: 2;
}

.empty-space-3 {
    grid-column: 4/span 3;
    grid-row: 3;
}

.empty-space-4 {
    grid-column: 4/span 3;
    grid-row: 4;
}
/* Got a lot of this from https://www.youtube.com/watch?v=xnltEHWWjiM */

body {
    background-color: #27282c;
}

#mainmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    position: relative;
    background: #fff;
    color: #fff;
    text-decoration: none;
    font-size: 5em;
    letter-spacing: 0.05em;
    font-weight: 400;
    padding: 5px 30px;
    transition: 0.5s;
    font-family: breakingbad;
    text-align: center;
}

a:hover {
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
    transform: scale(1.1);
    transition: 0.2s;
}

a:before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}

a span {
    position: relative;
    z-index: 1;
}

a i {
    position: absolute;
    inset: 0;
    display: block;
}

a i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 1s;
}

a:hover i::before {
    width: 20px;
    left: 20%;
}

a i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 1s;
}

a:hover i::after {
    width: 20px;
    left: 80%;
}

/* The rest of this is mine */

#legend {
    position: fixed;
    top: 400px;
    right: 100px;
    border-color: #ffffff;
    border-radius: 5px;
    border-style: solid;
}

#buttonsdiv {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 10px;
    left: 150px;
    gap: 5px;
}

#buttonsGameFinished {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#scoreGameFinished {
    position: absolute;
    top: 300px;
    font-family: upheavtt;
    font-size: 80px;
    color: white;
    width: 100%;
    text-align: center;
}

#playbutton {
    width: fit-content;
}

#settingsbutton {
    width: fit-content;
    left: 65px;
}

#backButtonLevelSelect {
    position: fixed;
    top: 750px;
    left: 85px;
}

#backButtonLevelCreate {
    position: fixed;
    top: 750px;
    left: 85px;
}

#quitButtonPauseUI {
    position: fixed;
    top: 750px;
    left: 85px;
    z-index: 10;
}

#pauseUIButtons {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#saveLevelButton {
    position: fixed;
    top: 750px;
    left: 1300px;
}

#levelDesignerButton {
    position: fixed;
    top: 750px;
    left: 1590px;
}

#logo {
    position: fixed;
    top: -90px;
    left: 1050px;
    scale: 0.5;
}

@font-face {
    font-family: upheavtt;
    src: url('upheavtt.ttf');
}

@font-face {
    font-family: breakingbad;
    src: url('breakingbad.otf');
}

#timer {
    position: fixed;
    top: 870px;
    left: 1820px;
    width: 100px;
    height: 50px;
    z-index: 100;
    display: block;
    color: #ffffff;
    font-family: upheavtt;
    font-size: 48px;
}

#score {
    /* Centers the div */
    margin: auto;
    position: fixed;
    z-index: 100;
    text-align: center;
    vertical-align: text-top;
    width: 100%;
    color: #ffffff;
    font-family: upheavtt;
    font-size: 72px;
}

#lives {
    position: fixed;
    z-index: 100;
    right: 170px;
    top: 10px;
}

#level {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 170px;
    color: #ffffff;
    font-family: upheavtt;
    font-size: 72px;
}